@model List<AutoFixProyectoWeb.ModelDB.FACTURA_CABECERA>
@{
    Layout = "~/Views/Cliente/_Layout.cshtml";
}


<div class="main-content position-relative bg-gray-100 max-height-vh-100 h-100">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
         navbar-scroll="true">
        <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                    <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
                    <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Mis facturas</li>
                </ol>
                <h6 class="font-weight-bolder mb-0">Mis facturas</h6>
            </nav>
        </div>
    </nav>
    <!-- End Navbar -->

    <div class="container-fluid">
        <div>
            <h4 class="card-title">Facturas de servicios</h4> 
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Fecha</th>
                        <th>Total</th>
                        <th>Acciones</th>                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var factura in Model)
                    {
                        <tr>
                            <td>@factura.NUMERO</td>
                            <td>@factura.FECHA</td>
                            <td>$ @factura.TOTAL</td>                           
                            <td>
                                <a href="@Url.Action("DescargarFactura", "Factura", new { idFactura = factura.ID_FACTURA_CABECERA })" class="btn btn-sm btn-primary">Descargar factura</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (Model.Count == 0)
            {
                <p class="font-italic text-secondary text-center">No cuenta con facturas.</p>
            }
        </div>
    </div>
</div>

