@model AutoFixProyectoWeb.ViewModels.AdminView.AdminHistoryVM

@{
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
         navbar-scroll="true">
        <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                    <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
                    <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Historial</li>
                </ol>
                <h6 class="font-weight-bolder mb-0">Historial</h6>
            </nav>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <div class="row">
                            <div class="col-6 d-flex align-items-center">
                                <h6 class="mb-0">Historial</h6>
                            </div>
                            <div class="col-6 text-end">
                                <a class="btn bg-gradient-dark mb-0" data-bs-toggle="modal" data-bs-target="#introducirPlaca">
                                    <i class="fas fa-plus"></i>&nbsp;&nbsp;Introducir placa
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2 mt-3">
                        @if (Model.historial != null && Model.historial.Count > 0)
                        {
                            @Html.Partial("Partials/HistorialList_partial", Model.historial);
                        }

                        @if (Model.notFound)
                        {
                            <div class="table-responsive p-0">

                                <p class="text-center text-xs text-secondary mb-0">La placa vehicular no existe</p>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Modal  Crear Usuario-->
    <div class="modal modal-lg fade" id="introducirPlaca" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Introducir placa vehicular</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("GetHistorial", "Admin", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <label for="txtName">Placa vehicular</label>
                        <input type="text" name="placa" id="txtName" class="form-control"
                               placeholder="Indique la placa del vehículo" required>


                        <div class="row mt-xl-3 justify-content-center text-center">
                            <div class="col-md-12">
                                <input type="submit" value="Buscar historial de servicios" class="btn bg-gradient-dark">
                                <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</main>
